<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',{tittle:"Productos"})%>
    <body>
        <!--ENCABEZADO-->
        <%- include('../partials/header') %>
        <main class="index-img">
        <h2>Productos</h2>
        <section class="Productos-relacionados contenedor-grid">
            <%- include('../partials/productos') %>
        </section>
        <!--PIE DE PAGINA-->
        <%- include('../partials/footer') %>
        </main>
        </body>
</html>
        