<footer>
    <div class="container">
      <div class="sec-descrip">
        <h2>BookBuster</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          dolore necessitatibus ut id sint nisi molestias dicta temporibus
          explicabo dolores, porro repudiandae quam ipsum nemo illo
          voluptatem! Culpa, soluta libero?
        </p>
        <ul class="sci">
          <li>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram" _mstvisible="2"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
      <div class="Mas-Info">
        <h2>Mas Informacion</h2>
        <ul>
          <li><a href="#">Cambios</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>
          <li><a href="#">Quiénes somos</a></li>
        </ul>
      </div>
      <div class="medios-pago">
        <h2>MEDIOS DE PAGO</h2>
        <article>
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-paypal"></i>
          <i class="fas fa-credit-card"></i>
          <i class="fas fa-money-bill-alt"></i>
        </article>
      </div>
    </div>
  </footer>
  <section class="copyright">
    <p>© 2021 BookBuster Ltd.UK Número de registro de la empresa: 5124926</p>
  </section>
  