<head>
    <meta charset="UTF-8">
    <!--Compatibilidad con el navegador EDGE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--CDN_Font-awesome(ICONOS)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!--CDN_Font-awesome(ICONOS) fulguera  -->
    <script src="https://kit.fontawesome.com/0eff48d7a9.js" crossorigin="anonymous"></script>

    <!--Estilos CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Estilos del Carousel-->
    <link rel="stylesheet" type="text/css" href="/css/carousel.css">
    
    <title><%= tittle %> </title>
  </head>