<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head',{tittle:'Login'}) %>

  <body class="body-login">
    <%- include('../partials/header') %>
    
    <main class="main-login">
      <div class="login-container">
        <div class="login-info-container">
          <h1 class="titulo">Iniciar Sesion</h1>
          <div class="social-login">
            <div class="social-login-element">
              <img src="/images/google.svg" alt="google-image" />
              <p>Google</p>
            </div>
            <div class="social-login-element">
              <img src="/images/facebook.svg" alt="facebook-image" />
              <p>Facebook</p>
            </div>
          </div>

          <p>or</p>
          <form class="formulario" action="/users/login" method="POST">
            <div id="mensaje-validacion-email">
              <input type="text" placeholder="Email" name="email" id="email"  onkeyup="validationEmail()"/>
              <% if (locals.errors && errors.email) { %>
                <div> <%= errors.email.msg %> </div>
              <% } %>
              <i class="icono-cruz fa-solid fa-circle-xmark"></i>
              <i class="icono-check fa-solid fa-circle-check"></i>
            </div>
            <p id="text_validation_email" class="text-estilos"></p>


            <div id="mensaje-validacion-contraseña">
              <input type="password" placeholder="Contraseña" id="password" name="password" onkeyup="validationContraseña()"/>
              <i class="icono-cruz fa-solid fa-circle-xmark"></i>
              <i class="icono-check fa-solid fa-circle-check"></i>
            </div>
            <p id="text_validation_password" class="text-estilos"></p>
            <div class="recordarme">
              <input type="checkbox" name="recordarme">Recordarme
            </div>
            
            <button type="submit">Unirse</button>
            <p>No tienes una cuenta?</p>
            <a href="/users/register">Crea Una</a>
            <a href="#">¿Olvidaste tu contraseña?</a>
          </form>
        </div>
        <img class="image-container" src="/images/login.svg" alt="login" />
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/validationLogin.js"></script>
  </body>
</html>
